<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <h1>О генераторе паролей: </h1>
    <article>
      <p>
        Генератор паролей - приложение или скрипт, которые на основе метода генерации случайных чисел составляют
        набор символов - пароль, который в дальнейшем пользователь использует для защиты данных.
      </p>
      <p>
        Для генерации, нужно выбрать длину пароля из выпадающего списка. Диапазон от 6 до 14 символ
          (по умолчанию выбрано значение 12 символов).
      </p>
        <p>
         Далее, по желанию, можно отметить в чекбоксах какие символы будет содержать пароль:
           <ul>
            <li>
                <p>Верхний регистр - в пароль будут добавлены символы в верхнем регистре.</p>
            </li>
            <li>
                <p>Цифры - в пароль будут добавлены цифры.</p>
            </li>
            <li>
                <p>Спецсимволы - в пароль будут добавлены спецсимволы.</p>
            </li>
    </ul>
        После нажатия на кнопку 'Сгенерировать пароль', система автоматически сгенерирует пароль указанной длины с
        выбранными заранее символами.
       </p>
    </article>
    <p><a href="{% url 'home'%}">Вернуться на главную</a></p>
</div>
</body>
</html>