{% extends 'base.html'%}

{% block content %}
{{super()}}

{% with messages = get_flashed_messages(True) %}
    {% if messages %}
        {% for cat, message in messages %}
            <div class="flash {{ cat }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form action="{{ url_for('add_course') }}" method="post">
    <p>Название: <input type="text" name="course_name" required></p>
    <p>Описание:</p>
    <p><textarea name="description" cols="40" rows="7"></textarea></p>
    <p>Цена: <input type="number" name="price" required></p>
    <input type="submit" value="Добавить">
</form>
{% endblock %}